<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525600752173-ih1vut9idrrn8pgo80vestpu6gifkoqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525600752173-ih1vut9idrrn8pgo80vestpu6gifkoqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDvNqXwrifQSU-ZgGNCylusgwzvJF6qqos</string>
	<key>GCM_SENDER_ID</key>
	<string>525600752173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile.template.uat</string>
	<key>PROJECT_ID</key>
	<string>mobile-flutter-template</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-flutter-template.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525600752173:ios:bfee067d2953e2a5dfeea4</string>
</dict>
</plist>